@import '../../../style/functions.scss';
@import '../../../style/mixins.scss';

.faq-card {
  width: 100%;
  .faq-card-header {
    padding: toRem(24) toRem(36);
    background: var(--default-card-header-background);
    border-radius: toRem(20) toRem(20) 0 0;
    .faq-header-label {
      @include typography(GroteskMedium, toRem(30), toRem(42), var(--black));
    }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      padding: toRem(24) toRem(16);
      .faq-header-label {
        font-size: toRem(22);
        line-height: toRem(26);
      }
    }
  }
  .card-content {
    @include flex(column, flex-start, center, toRem(20));
    padding: toRem(20) toRem(36);
    .faq-section {
      border-radius: toRem(10);
      padding: toRem(32);
      @include flex(row, flex-start, center, toRem(24));
      .faq-content {
        @include flex(column, flex-start, center, toRem(12));
        .faq-question {
          @include typography(
            GroteskMedium,
            toRem(22),
            toRem(30),
            var(--black)
          );
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            font-size: toRem(20);
            line-height: toRem(24);
          }
        }
        .faq-answer {
          @include typography(
            GroteskRegular,
            toRem(20),
            toRem(24),
            var(--small-dropdown-color)
          );
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            font-size: toRem(16);
            line-height: toRem(20);
          }
        }
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        padding: toRem(10) toRem(20);
        gap: toRem(10);
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
      }
    }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      padding: toRem(16);
    }
  }
}
