@import '../../style/functions.scss';

.loader {
  border-radius: 50%;
  display: inline-block;
  border-top: toRem(4) solid var(--pending-status-loader-color);
  border-right: toRem(4) solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
