@import '../../style/mixins.scss';
@import '../../style/functions.scss';

.vault-container {
  padding: toRem(60);
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    padding: toRem(120) toRem(16);
  }
}
.vault {
  width: 100%;
  height: 100%;
  @include flex(column, center, center, toRem(70));
  .page-title {
    @include flex(column, center, center, '');
    max-width: toRem(775);
    text-align: center;
    .title {
      @include typography(CochinItalic, toRem(56), toRem(72), var(--black));
    }
    .sub-title {
      @include typography(GroteskRegular, toRem(24), toRem(28), var(--small-dropdown-color));
    }
  }
  .tvl-info {
    @include flex(column, center, center, toRem(4));
    margin-bottom: toRem(14);
    text-align: center;
    .tvl-label {
      @include typography(GroteskMedium, toRem(24), toRem(30), var(--black));
    }
    .tvl-value {
      @include typography(GroteskSemiBold, toRem(36), toRem(40), var(--black));
    }
  }
  .vault-options {
    @include flex(row, baseline, center, toRem(30));
    flex-wrap: wrap;
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      flex-direction: column-reverse;
    }
  }
}
