@import '../../../style/functions.scss';
@import '../../../style/mixins.scss';

.yield-info-card {
  width: 100%;
  margin-bottom: toRem(32);
  .card-header {
    padding: toRem(24) toRem(36);
    background: var(--default-card-header-background);
    border-radius: toRem(20) toRem(20) 0 0;
    .yield-info-label {
      @include typography(GroteskMedium, toRem(30), toRem(42), var(--black));
    }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      padding: toRem(24) toRem(16);
      .yield-info-label {
        font-size: toRem(22);
        line-height: toRem(26);
      }
    }
  }
  .card-content {
    @include flex(column, flex-start, center, toRem(24));
    padding: toRem(20) toRem(36);
    .yield-info-text {
      @include typography(GroteskRegular, toRem(20), toRem(32), var(--black));
      @media screen and (min-width: 320px) and (max-width: 720px) {
        font-size: toRem(16);
      }
    }
    .yield-info-title {
      @include typography(GroteskMedium, toRem(22), toRem(32), var(--black));
      @media screen and (min-width: 320px) and (max-width: 720px) {
        font-size: toRem(16);
      }
    }
    .yield-info-section {
      @include flex(column, flex-start, center, toRem(8));
      ul {
        padding: 0 0 0 toRem(16);
        li {
            list-style-type: disc;
        }
      }
    }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      gap: toRem(16);
      padding: toRem(24) toRem(16);
      svg {
        height: auto;
      }
    }
  }
}
