@import '../../../style/functions.scss';
@import '../../../style/mixins.scss';

.yield-info-card {
  width: 100%;
  margin-bottom: toRem(32);
  .card-header {
    padding: toRem(24) toRem(36);
    background: var(--default-card-header-background);
    border-radius: toRem(20) toRem(20) 0 0;
    .label {
      @include typography(GroteskMedium, toRem(30), toRem(42), var(--black));
    }
  }
  .card-content {
    @include flex(column, flex-start, center, toRem(24));
    padding: toRem(20) toRem(36);
    .info-text {
      @include typography(GroteskRegular, toRem(20), toRem(32), var(--black));
    }
    .info-title {
      @include typography(GroteskMedium, toRem(22), toRem(32), var(--black));
    }
    .info-section {
      @include flex(column, flex-start, center, toRem(8));
      ul {
        padding: 0 0 0 toRem(16);
        li {
            list-style-type: disc;
        }
      }
    }
  }
}
